@import url(global.css);


main{
    padding: 16px;
    max-width: 1200px;
    margin: auto;
}
/* POSICIONAMENTO DE IMGS COM GRID + MASCARA GRADIENTE */
#emphasis{
    display: grid;
    grid-template-areas: 
    "IMG1 IMG1 IMG2 IMG3"
    "IMG1 IMG1 IMG4 IMG5";
    gap: 16px;
    margin-bottom: 64px;
}
#emphasis div:nth-child(1){
    grid-area: IMG1;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
}
/* MASCARA GERAL DE CADA FIGURA */
.mask{
    background-image: linear-gradient(to bottom, #ff000000 40%, #0206178c 80%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: end;
}
.mask2,
.mask3,
.mask4,
.mask5{
    background-image: linear-gradient(to bottom, #ff000000 20%, #020617ee 80%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: end;
}
/* ESTILO GERAL DAS FIGURAS 2-5 */
#emphasis > div:nth-child(2),
#emphasis > div:nth-child(3),
#emphasis > div:nth-child(4),
#emphasis > div:nth-child(5){
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}
.mask div{
    padding: 20px;
}
.mask p{
    margin-top: 8px;
    font-weight: bold;
    padding-right: 2em;
    font-size: 1.4em;
    line-height: 1.4em;
}
.mask h3{
    font-size: .6em;
    font-weight: 100;
    background-color: var(--color-brand-dark);
    margin: 10px 0;
    display: inline;
    padding: 4px 8px;
    border-radius: 4px;
    text-transform: uppercase;
}
.mask2 div,
.mask3 div,
.mask4 div,
.mask5 div{
    padding: 10px;
}
.mask2 p,
.mask3 p,
.mask4 p,
.mask5 p{
    margin-top: 8px;
    font-weight: bold;
    padding-right: .1em;
    font-size: .85em;
    line-height: 1.4em;
}
.mask2 h3,
.mask3 h3,
.mask4 h3,
.mask5 h3{
    font-size: .6em;
    font-weight: 100;
    background-color: var(--color-brand-dark);
    margin: 10px 0;
    display: inline;
    padding: 4px 8px;
    border-radius: 4px;
    text-transform: uppercase;
}

/* MAIS VISTOS DA SEMANA */
#most-read{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
#div-most-read{
    display: flex;
    color: var(--color-second);
    justify-content: space-between;
}
#div-most-read a{
    color: var(--color-second);
    text-decoration: none;
}
#div-most-read div{
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}
.arrow{
    width: 16px;
    height: 16px;
}
.arrow_hover{
    display: none;
}
#div-most-read div:hover 
.arrow_normal{
    display: none;
}

#div-most-read div:hover .arrow_hover,
#div-most-read div:hover a{
    display: block;
    color: var(--color-brand-light)
}
#figure-most-read{
    display: flex;
    gap: 16px;
}
figure{
    position: relative;
}
figure img{
    height: 160px;
    width: 100%;
}
figure span{
    position: absolute;
    font-size: .8em;
    font-weight: 100;
    background-color: var(--color-brand-dark);
    margin: 8px;
    display: inline;
    padding: 4px 8px;
    border-radius: 4px;
    text-transform: uppercase;
}
figure p{
    font-weight: bolder;
    font-size: 16px;
    /* padding-right: .55em; */
    margin-top: 8px;
}