@import url(global.css);


main{
    max-width: 1200px;
    margin: auto;
}
/*DESTAQUES*/
/* grid */
#emphasis{
    display: grid;
    grid-template-areas: 
    "IMG1 IMG1 IMG2 IMG3"
    "IMG1 IMG1 IMG4 IMG5";
    gap: 16px;
    margin-bottom: 64px;
}
.noticia1 img{
    height: 416px;
}
#emphasis div:nth-child(1){
    grid-area: IMG1;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
}
/* mask geral das figuras */
.mask{
    background-image: linear-gradient(to bottom, #ff000000 60%, #020617c5 80%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: end;
}
.mask2,
.mask3,
.mask4,
.mask5{
    background-image: linear-gradient(to bottom, #ff000000 20%, #020617ee 80%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: end;
}
/* estilo geral das figuras 2-5 */
#emphasis > div:nth-child(2),
#emphasis > div:nth-child(3),
#emphasis > div:nth-child(4),
#emphasis > div:nth-child(5){
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}
.mask div{
   padding: 20px; 
}
.mask p{
    margin-top: 8px;
    font-weight: bold;
    padding-right: 2em;
    padding-left: 10px;
    font-size: 1.4em;
    line-height: 1.4em;
}
.mask2 p,
.mask3 p,
.mask4 p,
.mask5 p{
    margin-top: 4px;
    font-weight: bold;
    font-size: .85em;
    line-height: 1.4em;
    padding: 10px;
    padding-right: 20px;
}
/* MAIS LIDAS DA SEMANA */
#most-read{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.title{
   font-size: .9em;
   font-weight: normal;
   color: var(--color-second);
}
#div-most-read{
    display: flex;
    color: var(--color-second);
    justify-content: space-between;
}
a{
    color: var(--color-second);
    text-decoration: none;
}
#div-most-read div{
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}
.arrow{
    width: 16px;
    height: 16px;
}
.arrow_hover{
    display: none;
}
#div-most-read div:hover 
.arrow_normal{
    display: none;
}

#div-most-read div:hover .arrow_hover,
#div-most-read div:hover a{
    display: block;
    color: var(--color-brand-light);
}
#figure-most-read{
    display: flex;
    gap: 16px;
}
figure{
    position: relative;
}
figure img{
    height: 160px;
    width: 100%;
}
figure span{
    position: absolute;
}
figure p{
    font-weight: bolder;
    font-size: 16px;
    margin-top: 8px;
    line-height: 20px;
}
/*DESTAQUE IA GRID unindo lados*/
.emphasis_ia{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 58% auto;
    gap: 32px;
}
/* DESTAQUE DE IA - lado esquerdo */
#title-patern{
    display: flex;
    justify-content: space-between;
}
#article-1{
    display: flex;
}
#article-1 img{
    height: 176px;
}
#article-1 h3{  
    margin: 0;
}
#article-1 h4{
    margin: 8px 0;
    line-height: 1.4em;
}
#article-1 p{
    font-size: .9em;
    line-height: 1.5em;
    padding-right: 1.2em;
}
#article-1 div p:nth-child(2){
    font-weight: bold;
}
#article-1 div p:nth-child(3){
    font-weight: lighter;
}
#figures-left{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 33px;
}
/* DESTAQUE DE IA - lado direito */
#side-right{
    height: 100;
}
#side-right figure img{
    width: 72px;
    height: 72px;
}
#side-right figure p{
    font-size: .9em;
    padding-right: 12px;
}
#side-right #title-patern{
    margin-bottom: 24px;
}
#side-right figure{
    display: flex;
    gap: 15px;
    margin-bottom: 32px;
}
#side-right h3{
    margin: 0;
}
#ads-img{
    height: 280px;
    margin-bottom: 32px;
    border-radius: 4px;
}
#ads-div{
    position: relative;
}
#ads-btn{
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 1;
    top: 8px;
    right: 8px;
    cursor: pointer;
}
